@charset "UTF-8";
/* Mobil styling */
/* Hamburgermeny */
body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 32px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Cabin', Sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(20%, black), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, black), color-stop(60%, black), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0)), color-stop(80%, black), to(black));
  background: linear-gradient(to bottom, black, black 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%, black 40%, black 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, black 80%, black 100%);
  /* Måste finnas ett enklare sätt att färgsätta menyn? */
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hamburger-menu h3 {
  color: black;
  font-size: 2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
  padding-bottom: 6%;
}

#hamburger-menu a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
  border: 1px solid black;
  padding: 2% 5%;
  border-radius: 30px;
}

#hamburger-menu a:hover {
  background-color: black;
  color: white;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

/* First page content */
.first-page {
  padding-top: 200px;
}

.first-page h1 {
  font-size: 3.5rem;
  margin-left: 6%;
  text-transform: uppercase;
}

.first-page .basic-info {
  margin-left: 30%;
  margin-top: -10%;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
}

/* About me */
.about-me {
  margin-inline: auto;
  width: 90%;
  margin-top: 290px;
}

.about-me h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.about-me p {
  font-size: 0.9rem;
  line-height: 140%;
}

/* Experience */
.experience {
  margin-top: 100px;
  margin-inline: auto;
  width: 90%;
}

.experience h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.medieinstitutet {
  list-style: none;
  margin-top: -15px;
  line-height: 130%;
  margin-left: -39px;
}

.medieinstitutet .school-name {
  font-size: 1rem;
}

.medieinstitutet .time-period {
  font-size: 1rem;
  font-style: italic;
}

.medieinstitutet .program {
  font-size: 1rem;
}

.skills-1, .skills-2 {
  margin-left: -39px;
  margin-top: -10px;
  font-size: 0.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
  list-style: none;
}

.hkr {
  list-style: none;
  margin-top: 35px;
  line-height: 130%;
  margin-left: -39px;
}

.hkr .school-name {
  font-size: 1rem;
}

.hkr .time-period {
  font-size: 1rem;
  font-style: italic;
}

.hkr .program {
  font-size: 1rem;
}

.fa-solid {
  margin-right: 6px;
}

.progressbar-ux {
  accent-color: #454545;
}

.progressbar-ux p {
  font-size: 0.9rem;
}

.progressbar-html {
  accent-color: #454545;
}

.progressbar-html p {
  font-size: 0.9rem;
}

.progressbar-css {
  accent-color: #454545;
}

.progressbar-css p {
  font-size: 0.9rem;
}

.progressbar-javascript {
  accent-color: #454545;
}

.progressbar-javascript p {
  font-size: 0.9rem;
}

.languages {
  font-size: 1rem;
  list-style: none;
  margin-top: 35px;
  line-height: 130%;
  margin-left: -39px;
  line-height: 150%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 1.5em;
}

.languages .level {
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

/* Styling för webb */
@media screen and (min-width: 1024px) {
  .main-menu {
    display: block;
    height: 100px;
    width: 100%;
    background: white;
    margin: 0px;
    z-index: 9;
  }
  .main-menu ul {
    max-width: 800px;
    width: 35%;
    height: 100%;
    margin-top: 0;
    margin-left: auto;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9;
  }
  .main-menu li {
    list-style-type: none;
    font-size: 1rem;
  }
  .main-menu a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 30px;
  }
  .main-menu a:hover {
    color: white;
    background-color: black;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .first-page {
    margin-top: -270px;
  }
  .first-page h1 {
    font-size: 10rem;
    margin-left: 12%;
    text-transform: uppercase;
    position: absolute;
    line-height: 100%;
  }
  .first-page .basic-info {
    margin-left: 55%;
    margin-top: 450px;
    font-size: 1.1rem;
    text-transform: uppercase;
    position: relative;
  }
  .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .about-me {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about-me h3 {
    margin-left: 24%;
  }
  .about-me p {
    width: 80%;
    margin-left: 24%;
    line-height: 170%;
  }
  .picture {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 350px;
    margin-left: 30%;
  }
  .flexbox-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin-top: 100px;
  }
  .experience {
    margin-left: 9%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 140%;
  }
  .hkr {
    padding-top: 50px;
  }
  .skills-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .skills-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .skills-1, .skills-2 {
    margin-top: -9px;
    font-size: 0.8rem;
    list-style: none;
    padding-right: 50%;
    line-height: 110%;
    padding-top: 10px;
  }
  .skills-progress {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 158px;
  }
  .languages {
    line-height: 50%;
    padding-right: 50%;
  }
  .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .footer-icons a {
    color: black;
  }
  .footer-icons a:hover {
    color: grey;
  }
  .contact {
    width: 500px;
    background-color: lightgray;
    margin-inline: auto 0;
    margin-top: -100px;
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */